<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <!--Navigation  -->
    <nav class="navbar navbar-expand-sm fixed-top" style="background-color: #a3d6cc;">
         <div class="container-fluid">
            <a class="navbar-brand" href="#" style="border-bottom: dotted 3px #006a6c;">
            <img src="../assets/images/logo.png" alt=" picture of campany's logo" style="width:50px;" class="rounded-pill">
            ERRONDER
            </a>
        <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="#">About Service</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">How to use</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a> 
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Launch demo modal
                    </button>
                </li>
            </ul>
         </div>
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>
    <!-- banner section -->
    <section class="banner mb-5" id="banner" style="background-image: url(../assets/images/index-01.jpg); background-size: cover; background-position: center; position: relative;">
        <div class="banner-text">
            <h2>Don't have inough time to pick something up but you want it soon?</h2>
            <p>We'll help to bring it for you!</p>
        </div>
    </section>
    <!-- About Servide -->
    <section class="con1">
        <h3 class="py-3 mt-0 text-center" style="background-color: #006a6c; color: white;">About Service</h3>
        <p class="text-center">content of seervice content of seervicecontent of seervicecontent of seervicecontent of seervicecontent of seervice</p>
        <p class="text-center">content of seervice content of seervicecontent of seervicecontent of seervicecontent of seervicecontent of seervice</p>
        <p class="text-center">content of seervice content of seervicecontent of seervicecontent of seervicecontent of seervicecontent of seervice</p>
    </section>
    <!-- How to use -->
    <section class="con2">
        <h3 class="py-3 my-5 text-center" style="color: #006a6c; border-top: dotted 3px #006a6c;">How to use our service</h3>
        <div class="row">
            <div class="col-3">
                <img class="d-block mx-auto mb-2" style="width: 40%;" src="../assets/images/index-02.png" alt="picture of explain1.">
                <h5 class="text-center">1. Put the location</h5>
                <p class="px-5">Login to your page and change your status to client. <br>
                After that, put the location you want to go for finding your errand man. </p>
            </div>
            <div class="col-3">
                <img class="d-block mx-auto mb-2" style="width: 40%;" src="../assets/images/index-03.png" alt="picture of explain2.">
                <h5 class="text-center">2. choose your errand man</h5>
                <p class="px-5">You can see some people who are around the location you put.<br>
                So check about there and choose a person you ask him / her to go on errand and give more information to ask. </p>
            </div>
            <div class="col-3">
                <img class="d-block mx-auto mb-2" style="width: 40%;" src="../assets/images/index-04.png" alt="picture of explain3.">
                <h5 class="text-center">3. Check the estimated derivery time.</h5>
                <p class="px-4">Your errand man will tell you the estimated derivery time.<br>
                You can check it on your page. Then you can just wait to the errand man arrives.
                </p>
            </div>
            <div class="col-3">
                <img class="d-block mx-auto mb-2" style="width: 40%;" src="../assets/images/index-05.png" alt="picture of explain4.">
                <h5 class="text-center">4. Evaluate the service</h5>
                <p class="px-5">After you get item from your errand man, please evaluate his / her service from your page.</p>
            </div>
        </div>
        <a href="＃" class="btn-register px-5 py-3" id="btn-register" name="btn-register" style="background-color: #a3d6cc; color: #006a6c; align-items: center; text-decoration: none;">
            Register</a>

    </section>
</body>
</html>